@import '../../shared/styles/theme-color.scss';

.forecast-card {
  width: 100%;

  min-width: 400px;
  min-height: 300px;

  border-radius: 30px;

  margin: 20px;
  padding: 28px 0;
  padding-top: 0;
  margin-left: 0;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  overflow-y: hidden;
  z-index: 19;
  backdrop-filter: blur(10px);

  @media screen and (max-width: 720px) {
    width: 90%;
    min-width: 100px;
  }
}
