@import '../components/shared/styles/theme-color.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #464646;
}
::-webkit-scrollbar-thumb {
  background: #282828;

  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $background-color;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
