@import '../../shared/styles/theme-color.scss';
.weather-card {
  width: 20%;
  height: 30%;

  min-width: 400px;
  min-height: 300px;

  background: #a3c9e5;
  border-radius: 30px;

  padding: 30px;
  margin: 20px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  z-index: 19;

  @media screen and (max-width: 720px) {
    width: 90%;
    min-width: 100px;
  }
}
